body {
	margin: 20px auto;
  font-family: 'Raleway', sans-serif;
  background: black;
}

p {
  margin: 18px 0 18px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 24px;
  line-height: 28px;
}

h1 {
  font-size: 50px;
  line-height: 70px;
}

h2 {
  font-size: 32px;
  line-height: 48px;
}

h1.logo { 
  font-family: 'Ranchers', cursive;
  margin: 20px 0 40px;
}

.logo img {
    height: 512px;
    width: 512px;
    margin-bottom: 20px;
    border-radius: 5px;
}

#organizers { 
  min-height: 512px;
}

#content
{
  width: 100%;
  position: relative;
  margin: 60px 0 0;
  background: #323202;
  padding-top: 50px;
  padding-bottom: 50px;
}

#content div.scrollableArea div.frame
{
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
}

.frame {
  width: 642px;
  height: auto;
  min-height: 512px;
  overflow: scroll;
}

.title {
  display: block;
  -webkit-transform: rotate(270deg);
  -webkit-transform-origin: bottom left;
  -moz-transform: rotate(270deg);
  -moz-transform-origin: bottom left;
  -o-transform: rotate(270deg);
  -o-transform-origin: bottom left;
  -ms-transform: rotate(270deg);
  -ms-transform-origin: bottom left;
  transform: rotate(270deg);
  transform-origin: bottom left;
  height: 70px;
  width: 512px;
  font-size: 50px;
  position: absolute;
  right: 40px;
  top: 442px;
  text-align: right;
  line-height: 70px;
  text-transform: uppercase;
  background-color: #AFF579;
  border-radius: 5px 5px 0 0;
  z-index: 1;
}

.title span { 
  font-weight: bold;
  padding: 10px 10px;
  text-shadow: -1px 1px 1px darkgrey;
  color: #11331C;
}

.nextto {
  margin-left: 90px;
  margin-right: 10px;
  padding: 10px 10px;
  background-color: white;
  z-index: 9000;
  border-radius: 0 5px 5px;
  border-left: solid 1px #323232;
  border-bottom: solid 2px #323232;
}

.nextto img {
  width: 100%;
}
a.btn {
  font-size: 23px;
  line-height: 25px;
  padding: 10px;
}

a.btn img {
  width: 10px;
  padding-left: 20px;
  padding-bottom: 5px;
}

.topic {
  margin: 0 0 20px 0;
  border-radius: 0 7px 0 0;
}

.footer { 
  min-height: 100px;
}

.footer span { 
  margin: 20px auto;
  text-align: center;
  display: block;
  position: relative;
  color: wheat;    
}

.upperright { 
  position: absolute;
  top: 15px;
  right: 0px;
  color: whitesmoke;
}

.upperleft { 
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 50px;
  font-family: 'Sigmar One';

  color: whitesmoke;
}